dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/


Skip to content
Personal
Open source
Business
Explore
Pricing
Blog
Support
This repository

1,838
41,996

    16,779

github/gitignore
Code
Pull requests 166
Projects 0
Pulse
Graphs
gitignore/C.gitignore
326dc28 12 days ago
@Leandros Leandros Merge branch 'master' into HEAD
@Leandros
@aarian93p
@rye
@dashed
@eugpermar
@dybekm
@starrify
@arsenm
@mattjeffery
@adericbourg
@snisarg
52 lines (43 sloc) 415 Bytes
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
modules.order
Module.symvers
Mkfile.old
dkms.conf

    Contact GitHub API Training Shop Blog About 

    © 2016 GitHub, Inc. Terms Privacy Security Status Help 


